@charset "UTF-8";
 /*Declarações gerais*/
 *{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 0, 221);
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: wheat;
    padding: 10px;
}
/*Declarações retrato*/
@media screen and (orientation: portrait){
    body{
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
}
/*Declarações paisagem*/
@media screen and (orientation: landscape){
    body{
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}