@charset "UTF-8";

/*Configurações gerais*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 0, 221);
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: wheat;
    padding: 10px;
}